<!-- Utilizamos el layout principal -->
{{> main}}

<!-- Contenido específico de la página de inicio -->
<div class="container">
  <h1>Bienvenido a Manantiales Market!</h1>
  <p>Descubre una amplia variedad de productos usados disponibles para comprar en nuestra comunidad.</p>
</div>