<div class="container mb-5 py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Recuperar Contraseña</h2>
      <p class="text-center mb-4">Ingrese el correo electrónico para recuperar
        constraseña</p>
      <form id="recoverPasswordForm">
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Ej: fer@gmail.com"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Recuperar
          Contraseña</button>
      </form>
      <!-- Spinner de Bootstrap -->
      <div id="spinner" class="d-none text-center mt-3">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </div>
      <div id="errorBlock" class="alert alert-danger mt-3 d-none" role="alert">
        El email ingresado no es válido
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('recoverPasswordForm').addEventListener('submit', async (event) => {
  event.preventDefault(); 

  const email = document.getElementById('email').value;
  const errorBlock = document.getElementById('errorBlock');
  const spinner = document.getElementById('spinner');

  // Mostrar el spinner y ocultar el bloque de error
  spinner.classList.remove('d-none');
  errorBlock.classList.add('d-none');

  try {
    // Hacer la solicitud POST al endpoint
    const response = await fetch('/api/sessions/password', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ email }),
    });

    if (response.ok) {
      // Si la respuesta es 200, redirigir a la URL /reset-password-step2
      window.location.href = '/reset-password-step2';
    } else if (response.status === 404) {
      // Si la respuesta es 404, mostrar el bloque de error
      errorBlock.classList.remove('d-none');
    }
  } catch (error) {
    console.error('Error:', error);
    // Manejo de errores adicionales si es necesario
  } finally {
    // Ocultar el spinner después de la solicitud
    spinner.classList.add('d-none');
  }
});
</script>